.color-picker-block {




   /*  max-width: 512px;
 */
    &__container {
        display: flex;
        justify-content: space-between;

        grid-column: 3 /5;

    }

    &__header {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #89939a;
    }

    &__id-info {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: #b4bdc4;
    }




}

