.img-product-details {
    max-width: 1400px;
    margin: auto;

    &__container {
        display: grid;
        grid-template-columns: 80px 442px 395px;

        grid-template-rows: auto auto;

        gap: 20px;

        @media (min-width: 640px) and (max-width: 1199px) {
            grid-template-columns: 80px 270px 350px;
            gap: 10px;
        }

        @media (max-width: 639px) {
            grid-template-columns: auto;
            justify-content: center;
            gap: 10px;
        }
    }

    &__img-prev {
        width: 80px;

        @media (max-width: 639px) {
            grid-row: 3 / 4;
            display: flex;
            grid-column: 1 /2;
            height: 80px;
        }
    }

    &__img-main {
        width: 442px;

        @media (max-width: 1199px) {
            width: 273px;
            height: 273px;
        }

        img {
            width: 442px;
            height: 442px;
            display: block;
            object-fit: contain;

            @media (max-width: 1199px) {
                width: 273px;
                height: 273px;
            }
        }
    }

    &__phone-details {
        padding-left: 60px;

        @media (max-width: 639px) {
            padding-left: 0px;
        }
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__block-desciption {
        margin-top: 75px;
    }
}
