.img-product-details {
    &__block-title-phone {
        grid-column: 1 / 4;
        grid-row: 1 /2;
        padding-bottom: 40px;

        @media (max-width: 640px) {
            grid-column: 1 / 2;
        }
    }

    &__header-title {
        font-size: 32px;

        @media (max-width: 640px) {
            font-size: 22px;
        }
    }
}
