.photo-prev {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    display: grid;
    gap: 7px;

    @media (max-width: 639px) {
        display: grid;
        grid-template-columns: repeat(5, 51px);
        grid-template-rows: 41px;
    }

    &__images {
        width: 80px;
        height: 80px;
        object-fit: contain;
        display: block;
        width: 80%;
        border: 1px solid black;
        padding: 7px;

        &--isActive {
            border: 1px solid #C4C4C4;
            width: 80px;
            height: 80px;
            object-fit: contain;
            display: block;
            width: 80%;
            padding: 7px;
        }


        @media (min-width: 320px) and (max-width: 639px) {
            width: 35px;
            height: 35px;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    }
}
