.color-picker {

    &__block-two {
        display: grid;
        grid-template-columns: repeat(4, 32px);
        gap: 8px;
        padding-bottom: 18px;
        border-bottom: 1px solid #e2e6e9;
    }

    &__color-circle {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #e2e6e9;
        box-sizing: border-box;

        outline: 3px solid white;
        outline-offset: -4px;

        &:hover {
            border: 1px solid #B4BDC4;
        }

        &--isActive {
            border: 1px solid #313237;
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-sizing: border-box;
            outline-offset: -4px;
        }
    }
}
