.capacity {
    max-width: 320px;
    border-bottom: 1px solid #e2e6e9;
    padding-bottom: 20px;

    &__header {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #89939a;
        padding-bottom: 18px;
    }

    &__block-btn {
        display: grid;
        grid-template-columns: repeat(3, 70px);
        grid-column-gap: 8px;


    }
    &__btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        background: #ffffff;
        color: #313237;
        border: 1px solid #b4bdc4;
        padding: 0 9px 0;




        &--isActive {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #ffffff;
            background: #313237;
            padding: 0 9px 0;

            text-decoration: none;
        }
    }
}
