.phones-page {
  margin: 24px 16px 0;

  &__title {
    font-weight: 800;
    margin-bottom: 8px;
  }

  &__amount {
    color: #89939A;
    margin-bottom: 32px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &__text {
    font-size: 12px;
    font-weight: 600;
    color: #89939A;
  }

  &__homeImg {
    margin-right: 15px;
  }

  &__arrowImg {
    margin-right: 13px;
  }
}

.pagination {
  display: flex;

  &__sort {
    margin-right: 16px;

    &-text {
      color: #89939A;
      margin-bottom: 4px;
    }

    &-select {
      padding: 10px 12px;
      width: 136px;
      border: 1px solid #B4BDC4;
      outline: none;

    }

  }

  ;

  &__perPage {
    &-text {
      color: #89939A;
      margin-bottom: 4px;
    }

    ;

    &-select {
      padding: 10px 12px;
      width: 136px;
      border: 1px solid #B4BDC4;
      outline: none;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 24px;
      color: #313237;
      background: none;

      

      &:focus {
        border: 1px solid #313237;
      }

      &-option {
        color: #89939A;
        background: none;
        background: #FFF;

        :hover {
          color: #313237;
          background: #FFF;
          background-color: #FFF
        }

        :focus {
          background-color: #FFF
        }

        :checked {
          color: #313237;
          background: #FFF;
        }
      }
    }

    ;
  }

  ;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;

    &-item {
      margin-right: 8px;
      margin-bottom: 4px;
    }

    &-link {
      min-width: 32px;
      height: 32px;
      border: 1px solid #B4BDC4;
      text-decoration: none;
      display: flex;
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border: 1px solid #313237;
      }

      &--is-current {
        background-color: #313237;
        color: #fff;
      }
    }

    &-next {
      margin-left: 8px;
    }

    &-prev {
      margin-right: 16px;
    }

    &-img--prev {
      transform: rotate(180deg);
    }

  }

}

.disabled {
  cursor: not-allowed;
  border: 1px solid #E2E6E9;

  &:hover {
    border: 1px solid #E2E6E9;
  }

  .pagination__list-img--next {
    &--disabled {
      fill: #B4BDC4;
    }
  }

  .pagination__list-img--prev {
    &--disabled {
      fill: #B4BDC4;
    }
  }
}


select {
  position: relative;
  min-width: 200px;
}

.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.select select {
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  background: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

.select select:required:invalid {
  color: #5a667f;
}

.select select option {
  color: #223254;
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: black;
}

.select select:hover+svg {
  stroke: red;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}


.select select.decorated option:hover {
  box-shadow: 0 0 10px 100px red inset;
}