@import "../../utils/mixins";
@import "../../utils/normalize";
@import "../../utils/reset";

.cart-page {
    font-family: 'Mont';
    padding: 0 32px;
    max-width: 1200px;
    display: flex;
    min-width: 320px;
    margin: 0 auto;
    flex-direction: column;

    &__title {
        padding: 24px 16px 32px;
    }

    &__back-link {
        padding: 0 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-decoration: none;
        text-transform: capitalize;
        color: #89939A;
        transition: color .4s;
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            color: #313237;
        }
    }

    &__back-svg {
        margin-right: 8px;
    }

    &__checkout {
        border: 1px solid #E2E6E9;
        max-height: 216px;

        @include tablet {
            margin: 32px 0;
        }

        @include desktop {
            margin: 0 16px;

        }

        &__total-price {
            padding: 24px 24px 0;
            text-align: center;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 41px;
            letter-spacing: -0.01em;
            color: #313237;
        }

        &__items-number {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #89939A;
            padding-bottom: 16px;
            border-bottom: 1px solid #E2E6E9;
            margin: 0 24px;
        }

        &__submit {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: none;
            background: #313237;
            width: calc(100% - 48px);
            padding: 24px;
            margin: 16px 24px 24px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            text-transform: capitalize;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
            }
        }
    }
}

.cart-list {
    align-self: flex-start;
    display: grid;
    gap: 15px;
}

.cart-element {
    grid-gap: 20px;
    align-items: center;
    border: 1px solid #e2e6e9;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "delete image title title"
        "count  count value value";
    grid-template-columns: auto auto 1fr 1fr;

    padding: 16px;
    margin-bottom: 16px;

    @include desktop {
        grid-template-areas:
            "delete image title title count  count value value";
        grid-template-columns: auto auto 1fr 1fr;
    }

    &__delete {
        background: transparent;
        border: none;
        cursor: pointer;
        grid-area: delete;
        justify-self: flex-start;

        &:hover {
            svg path {
                fill: #313237;
            }
        }
    }

    &__image-container {
        display: flex;
        grid-area: image;
        height: 66px;
        justify-content: center;
        width: 66px;
    }

    &__title {
        color: #313237;
        font-size: 14px;
        font-weight: 300;
        grid-area: title;
    }
}

.count {
    align-items: center;
    display: flex;

    &__btn:disabled {
        color: #E2E6E9;
        cursor: not-allowed;
        border: 1px solid #E2E6E9;
    }

    &__value {
        font-size: 14px;
        font-weight: 600;
        padding: 0 10px;
        width: 32px;
    }

    &__btn {
        background: none;
        border: 1px solid #e2e6e9;
        cursor: pointer;
        height: 32px;
        width: 32px;

        &:hover {
            border: 1px solid #313237;
        }
    }

    &__value {
        color: #313237;
        font-size: 22px;
        font-weight: 800;
        grid-area: value;
        justify-self: flex-end;

    }
}

.cart-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 16px;
    margin-bottom: 40px;

    @include desktop {
        grid-template-columns: 2fr 1fr;
    }
}

.cart-empty-img {
    max-width: 300px;
    display: flex;
    align-self: center;
    padding-right: 41px;

    @include tablet {
        max-width: 400px;
    }

    @include desktop {
        max-width: 400px;
    }
}

.cart-empty-message {
    margin: 10px;

    text-align: center;

}

.cart-empty-link {
    text-decoration: none;

    h2 {
        text-align: center;
        color: #89939A;
        margin-bottom: 40px;

        &:hover {
            color: #313237;
        }
    }

}