@import '../../../utils/mixins';

.img-product-details {
    max-width: 1400px;

    &__container {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);

        @include phone {
            grid-template-columns: 1fr;
            grid-template-rows: 70px auto auto;
            place-items: center;
        }

        @media (min-width: 640px) and (max-width: 770px) {
            grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));

        }
    }

    &__header {
        padding: 20px;;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 10px 0;
    }

    &__title {
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 140%;
        color: #313237;

        @include phone {
            font-size: 22px;
        }
    }

    &__product-img {
        @include phone {
            grid-column: 1 / 3;
        }

        @include tablet {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
    }

    &__product-decription {
        grid-column: 1 / 3;
        place-items: center;
        margin-top: 65px;

        @include phone {
            margin-top: 56px;
        }
    }
}
