body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #89939A;

  &__section{
    width: 272px;

    &--1 {
      width: 48px;
      border-left: 1px solid #89939A;
      height: 100%;
    }
  }

  &__element {
    font-family: 'Mont', sans-serif;
    justify-content: center;
    color: #313237;
    align-items: center;
    font-weight: bold;
    margin-left: 16px;

    &--1 {
      justify-content: center;
      align-items: center;
      color: #313237;
      text-align: center;
      padding-top: 13px;
    }
  }
}