@import '/src/utils/mixins';

body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  box-shadow: 0px 1px 0px #E2E6E9;

  @include tablet {
    height: 48px;
  }

  @include desktop {
    height: 64px;
  }

  &__section {
    width: 272px;

    @include tablet {
      width: 544px;
    }

    &--1 {
      display: flex;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: 96px;
        height: 48px;
        justify-content: space-between;
      }

      @include desktop {
        width: 128px;
        height: 64px;
        justify-content: space-between;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  &__element {
    font-family: 'Mont', sans-serif;
    font-size: 12px;
    font-weight: 800;
    justify-content: center;
    color: #313237;
    align-items: center;
    margin-left: 16px;

    @include tablet {
      margin-right: 32px;
    }

    @include desktop {
      margin-right: 48px;
      margin-left: 24px;
    }

    &--cart {
      box-shadow: -1px 0px 0px #E2E6E9;

      @include phone {
        display: none;
      }

      @include tablet {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
      }

      @include desktop {
        display: flex;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
      }
    }

    &__list {
      box-shadow: -1px 0px 0px #E2E6E9;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      @include tablet {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }

    &__text {
      font-size: 12px;
      font-weight: 800;

      @include phone {
        display: none;
      }

      @include tablet {
       margin-right: 32px;
       color: #89939A;
       text-align: center;
      }

      @include desktop {
        margin-right: 64px;
        color: #89939A;
        text-align: center;
       }
    }

    &--heart {
      box-shadow: -1px 0px 0px #E2E6E9;
      height: 100%;
      width: 100%;

      @include phone {
        display: none;
      }

      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
      }

      @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
      }
    }
  }
}

.icon {

  &__cart {
    height: 16px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  &__item {
    text-decoration: none;

    &__is-active {
      text-decoration: underline;
    } 
  }
}
