@import '/src/utils/mixins';
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  box-shadow: 0px 1px 0px #E2E6E9;
  margin-bottom: 24px;

  @include tablet {
    height: 48px;
  }

  @include desktop {
    height: 64px;
  }

  &__section {
    width: 272px;

    @include tablet {
      width: 544px;
    }

    &--1 {
      display: flex;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: 96px;
        height: 48px;
        justify-content: space-between;
      }

      @include desktop {
        width: 128px;
        height: 64px;
        justify-content: space-between;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  &__element {
    font-family: 'Mont', sans-serif;
    font-size: 12px;
    font-weight: 800;
    justify-content: center;
    color: #313237;
    align-items: center;
    margin-left: 16px;

    @include tablet {
      margin-right: 32px;
    }

    @include desktop {
      margin-right: 48px;
      margin-left: 24px;
    }

    &--cart {
      width: 100%;
      height: 100%;
      box-shadow: -1px 0px 0px #E2E6E9;

      @include phone {
        display: none;
      }

      @include tablet {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
      }

      @include desktop {
        display: flex;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
      }
    }

    &__list {
      box-shadow: -1px 0px 0px #E2E6E9;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      @include tablet {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }

    &__text {
      font-size: 12px;
      font-weight: 800;
      transition: 0.4s;

      &:hover {
        color: #313237;
      }

      @include phone {
        display: none;
      }

      @include tablet {
       margin-right: 32px;
       color: #89939A;
       text-align: center;
      }

      @include desktop {
        margin-right: 64px;
        color: #89939A;
        text-align: center;
       }
    }

    &--heart {
      box-shadow: -1px 0px 0px #E2E6E9;
      height: 100%;
      width: 100%;

      @include phone {
        display: none;
      }

      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
      }

      @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
      }
    }
  }
}

.icon {

  &__cart {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heart {
    height: 16px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  &__item {
    text-decoration: none;
    padding: 16.5px 0 16.5px 0;
    font-size: 12px;
    font-weight: 800;
    transition: 0.4s;

    &:hover,
    &.is-active {
      color: #313237;
    }

    @include phone {
      display: none;
    }

    @include tablet {
      margin-right: 32px;
      color: #89939A;
      text-align: center;
    }

    @include desktop {
      margin-right: 64px;
      color: #89939A;
      text-align: center;
      
    }
  }

  &__item:hover,
  .nav__item.is-active {
    color: #313237;
  }

  .nav__item.is-active {
    text-decoration: underline;
    text-decoration-color: #313237;
    text-decoration-thickness: 3px;
    text-underline-offset: 18px;

    @include desktop {
      text-underline-offset: 26px;
    }
  }

  &__icon {
    height: 48px;

    @include desktop{
      height: 64px;
    }
  } 
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  max-height: 100%;
  width: 100%;
  z-index: 1;
  background: #fff;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  overflow-y: hidden;

  &--open {
    height: 100%;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }

  &__bottom {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    box-shadow: 0px -1px 0px #E2E6E9;

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 64px;
      width: 50%;

      &--1 {
        box-shadow: -1px 0px 0px #E2E6E9;
        width: 50%;
      }
      
      &.is-active {
        border-bottom: 2px solid #313237;
        margin-top: 2px;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
  }

  &__item {
    font-weight: 800;
    margin-top: 32px;
    text-decoration: none;
    color: #89939A;
    transition: 0.4s;

    &:hover {
      color: #313237;
    }

    &.is-active {
      color: #313237;
      text-decoration: underline;
      text-decoration-color: #313237;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
    }
  }

  &__element--heart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__element--cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 20px;
  z-index: 1;
  background-color: #EB5757;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  margin-left: 18px;

  @include tablet {
    top: 12px;
  }
}
