@mixin phone {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 640px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}


@mixin breakpoints {
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: 497px) and (max-width: 617px) {
    max-width: 468.8px;

  }

  @media (min-width: 618px) and (max-width: 639px) {
    max-width: 567.2px;
  }

  @media (min-width: 640px) and (max-width: 768px) {
    max-width: 567.2px;
  }

  @media (min-width: 769px) and (max-width: 886px) {
    max-width: 708.8px;
  }

  @media (min-width: 887px) and (max-width: 1200px) {
    max-width: 847.2px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

@mixin phonesGrid {

  @media (min-width: 497px) and (max-width: 617px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 618px) and (max-width: 639px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 887px) and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 769px) and (max-width: 886px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 640px) and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin cardWidth {
  @media (min-width: 497px) and (max-width: 617px) {
    width: 230px;
  }

  @media (min-width: 618px) and (max-width: 639px) {
    width: 272px;
  }

  @media (min-width: 640px) and (max-width: 768px) {
    width: 272px;
  }

  @media (min-width: 769px) and (max-width: 886px) {
    width: 230px;
  }

  @media (min-width: 887px) {
    width: 272px;
  }
}

@mixin gridPadings {
  @media (max-width: 480px) {
    padding: 0 16px;
  }

  @media (min-width: 1200px) {
    padding: 0 24px;
  }
}