@import "../../utils/normalize.scss";
@import "../../utils/reset.scss";
@import "../../utils/mixins";
@import "../../utils/typography";

$primary-color: #313237;
$secondary-color: #89939A;
$icon-color: #B4BDC3;
$elements-color: #E2E6E9;
// #TODO: move the color variables into a separate file

.footer {
  width: 100%;
  box-shadow: 0px -1px 0px #E2E6E9;
  display: flex;
  justify-content: center;

  &_wrapper {
    padding: 32px 16px 32px 16px;
    width: 100%;
    box-sizing: border-box;
    max-width: 1200px;

    @include tablet {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    @include desktop {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__logo {
    font-family: 'Mont', sans-serif;
    font-size: 12px;
    font-weight: 800;
    justify-content: center;
    color: $primary-color;
    align-items: center;
    // taken from Header for consistency (dziemki partyk h3h3) TODO: make this into a mixin probably??

    @include phone {
      padding-bottom: 32px;
    }
  }

  &__nav {
    padding: 0;

    &__li {
      margin-bottom: 16px;
      list-style-type: none;
      text-decoration: none;

      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline;
        padding: 0 8px 0 8px;
      }

      @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline;
        padding: 0 8px 0 8px;
      }
    }

    &__link {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__backtotop {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    @include phone {
      justify-content: center;
    }

    @include tablet {
      margin: 0;
      width: auto;
    }

    @include desktop {
      margin: 0;
      width: auto;
    }

    &__text {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }

    &__button {
      text-decoration: none;
      color: $primary-color;
      transform: rotate(-90deg);
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $icon-color;

      &:hover {
        border-color: $primary-color;
      }
    }
  }
}