@import '/src/utils/mixins';

.title {
  text-align: center;
}

.page__wrapper {
  @include pageBreakPoints;
}

.section__category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 288px;
  height: 288px;
  overflow: hidden;

  @include tablet {
    width: 187px;
    height: 187px;
  }

  @include desktop {
    width: 368px;
    height: 368px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include phone {
      flex-direction: column;
    }
  }

  &--1 {
    background-color: #fad7bc;
  }

  &--2 {
    background-color: #838489;
  }

  &--3 {
    background-color: #ca567b;
  }

  &__image {
    object-fit: cover;
    transition: 0.4s;
  }

  &__product {
    transition: 0.4s;
  }

  &__wrapper:hover .card__image,
  &__wrapper:hover .card__product {
    transform: scale(1.1) translateX(16px);
  }

  &__wrapper--1:hover .card__image,
  &__wrapper--1:hover .card__product {
    transform: scale(1.1)translateX(16px);
  }

  &__image--1 {
    margin: 120px 0 0 90px;
    width: 302.09px;
    height: 357.65px;

    @include tablet {
      margin: 80px 0 0 60px;
      width: 196.15px;
      height: 232.23px;
    }

    @include desktop {
      margin: 140px 0 0 100px;
      width: 386px;
      height: 457px;
    }
  }

  &__image--2 {
    margin: 200px 0 0 200px;
    width: 427.3px;
    height: 427.3px;

    @include tablet {
      margin: 140px 0 0 140px;
      width: 277.45px;
      height: 277.45px;
    }

    @include desktop {
      margin: 240px 0 0 260px;
      width: 546px;
      height: 546px;
    }
  }

  &__image--3 {
    height: 288px;
    margin: 100px 0 0 420px;

    @include tablet {
      height: 187px;
      margin: 80px 0 0 300px;
    }

    @include desktop {
      height: 368px;
      margin: 120px 0 0 560px;
    }
  }

  &__item__count {
    font-size: 14px;
    color: #89939A;
  }

  &__wrapper {
    text-decoration: none;

    @include desktop {
      margin-right: 16px;
    }

    @include tablet {
      margin-right: 16px;
    }

    &--1 {
      text-decoration: none;
    }
  }
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
  overflow: hidden;

  @include tablet {
    height: 216px;
    width: 568px;
  }

  @include desktop {
    height: 432px;
    width: 1136px;

  }

  .arrow {
    display: none;
    background: url("../../images/icons/arrow-dark.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border: 1px solid #B4BDC3;
    width: 32px;

    &--left {
      transform: scaleX(-1);
    }

    @include tablet {
      display: flex;
    }

    @include desktop {
      display: flex;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;

    @include tablet {
      height: 216px;
      width: 568px;
    }

    @include desktop {
      height: 420px;
      width: 1040px;
    }

    &__image {
      width: 100%;
      min-height: 320px;

      @include tablet {
        width: 476px;
        min-height: 216px;
        margin-left: 16px;
      }

      @include desktop {
        min-height: 432px;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.select {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 90px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 70px;
  }
}

.selector {
  width: 14px;
  height: 4px;
  background-color: #E2E6E9;
}

.selector.is-selected {
  background-color: #313237;
}

